@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        background-color: white;
        width: 12px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      width: 12px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #e0cbcb;
      border: solid 3px 3px white;
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
  }